<div id="myLandmarks">
  <div class="container-fluid header">
    <h2>My Saved Landmarks</h2><span><a class="go-back" href="/search">Back to Search</a></span>
    <p><a class="logout" href="/logout">Logout</a></p>
  </div>

  <div class="container-fluid landmark-contain">
    <div class="saved"></div>
  </div>
</div>

