<div id="container">
   <header class="site-header">
      <div class="logo" width="25px"><i class="fas fa-globe-americas"></i>Now&Then</div>
      <nav class="site-nav">
         <ul>
            {{!-- INSERT SEARCH BAR HERE --}}
            <li><a href="/search">Search</a></li>
            <li class="active"><a href="/favorites">Favorites</a></li>
         </ul>
      </nav>
      <div class="actions">
         <div class="current-user">Welcome <span class="member-name"></span></div>
         <a href="/logout" class="sign-out-link">Sign Out</a>
      </div>
   </header>

   {{!-- Render favorite landmarks --}}
   <div class="container result-imgs mb-5">
      <div class="card-columns">

         {{#each Favorite}}
            <div class="card bg-light border-secondary" style="width: 18rem">
               <img class="card-img-top" src="{{imgURL}}">
               <div class="card-img-overlay">
                  <button id="favorites"><i class="fas fa-star"></i></button>
               </div>
               <div class="card-body">
                  <h6 class="card-title mb-0"> {{title}} </h6>
               </div>
            </div>
         {{/each}}

      </div>
   </div>
</div>