<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      <div class="logo__shape" width="25px"><i class="fas fa-globe-americas"></i>
        <span>
          <h1 class="logo__text">Now&Then</h1>
        </span>
      </div>
    </div>
    <div class="signup__overlay"></div>
  </div>

  {{!-- SIGNIN FORM --}}
  <div class="container__child signin__form">
    <form class="signin text-center" action="#">
      <div class="text text-center">Member Login</div>
      <div class="form-group">
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="form-control" type="text" name="email" id="member_email" placeholder="Email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fas fa-envelope" aria-hidden="true"></i>
          </span>
        </div>
        <div class="form-group">
          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="form-control" type="password" name="password" id="member_password" placeholder="Password">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>
          <div class="m-t-lg">
            <ul class="list-inline">
              <li id="submit-btn">
                <input class="btn btn--form" type="submit" value="Login" />
              </li>
              <li id="signup-link">
                <a class="signup__link" href="#" id="show_signup">Create your Account</a>
              </li>
            </ul>
          </div>
          <div id="no_input_msg2">
            <p>Input fields cannot be blank</p>
          </div>
          <div id="message">
            <p>Invalid password</p>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{!-- SIGNUP FORM --}}
  <div class="container__child signup__form">
    <form class="signup text-center" action="#">
      <div class="text text-center">Create Account</div>
      <div class="form-group">
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="form-control" type="text" name="email" id="new_user_email" placeholder="Email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fas fa-envelope" aria-hidden="true"></i>
          </span>
        </div>
        <div class="form-group">
          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="form-control" type="password" name="password" id="new_user_password" placeholder="Password">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>
          <div class="m-t-lg">
            <ul class="list-inline">
              <li id="submit-btn">
                <input class="btn btn--form" type="submit" value="Register" />
              </li>
              <li id="signup-link">
                <a class="signin__link" href="#" id="show_signin">I am already a member</a>
              </li>
            </ul>
          </div>
          <div id="no_input_msg">
            <p>Input fields cannot be blank</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>