<div id="container">
   <header class="site-header">
      <a href="#0" class="logo" width="25px"><i class="fas fa-globe-americas"></i><span>Now&Then</span></a>

      <nav class="site-nav">
         <ul>
            {{!-- INSERT SEARCH BAR HERE --}}
            <li class="active"><a href="#0">Search</a></li>
            <li><a href="/favorites">Favorites</a></li>
         </ul>
      </nav>

      <div class="actions">
         <div class="current-user">Welcome  <span class="member-name"></span></div>
         <a href="/logout" class="sign-out-link">Sign Out</a>
      </div>
   </header>


   {{!-- Search Input --}}
   <div class="container-fluid search">
      <form>
         <div class="form-group">
            <label for="searchBar">Which location's past would you like to examine?</label>
            <input type="text" class="form-control" id="searchBar" placeholder="Enter a city, state, or specific location here">
         </div>
         <button type="submit" id="submitInput" class="btn btn-primary">Submit</button>
      </form>
   </div>

   {{!-- Render search input landmarks --}}
   <div class="container result-imgs mb-5">
      <div class="card-columns">

         {{#each locationObjects}}
         <div class="card bg-light border-secondary" style="width: 18rem">
            <img class="card-img-top" src="{{this.image}}">
            <div class="card-img-overlay">
               <button id="favorites"><i class="fas fa-star"></i></button>
            </div>
            <div class="card-body">
               <h6 class="card-title mb-0"> {{this.name}} </h6>
            </div>
         </div>
         {{/each}}
      </div>
   </div>

   <div class="space"></div>

</div>