html {
   box-sizing: border-box;
   height: 100%;
 }
 
 body {
   font: 100% / 1.414 "Roboto", arial, sans-serif;
   position: relative;
   min-height: 100%;
   margin: 0;
   background: #e0e8f3;
 }
 
 
 @media (max-width: 600px) {
   .site-header {
     flex-wrap: wrap;
   }
 
   .site-nav {
     order: 2;
     background: #333;
     width: 100%;
   }
 }
 
 .site-header {
   background: #0D1313;
   color: white;
   display: flex;
   align-items: center;
 }
 
 .logo {
   text-decoration: none;
   color: white;
   font-size: 0.9rem;
   text-transform: uppercase;
   letter-spacing: 3px;
   padding: 10px;
   margin-left: 5px;
 }
 
 .site-nav ul {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
 }
 
 .site-nav a {
   text-transform: uppercase;
   text-decoration: none;
   color: #CDD0D0;
   padding: 20px;
   display: inline-block;
 }
 
 .site-nav .active a {
   font-weight: bold;
   color: #62DEBE;
   background: darken(#62DEBE, 40%);
 }
 
 .actions {
   margin-left: auto;
   display: flex;
   align-items: center;
   margin-right: 10px;
 }
 
 .sign-out-link {
   color: #62DEBE;
   font-size: 0.8rem;
   margin-left: 35px;
   margin-right: 10px;
   text-transform: uppercase;
 }
 
 


/* 
.landmark-contain {
   max-width: 960px;
   margin: 40px auto 0 auto;
}

.saved {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-content: stretch;
   max-width: 980px;
   padding-right: 2.5em;
}

.saved img {
   display: block;
   float: left;
   flex: 0 0 auto;
   background-color: #fff;
}

@media screen and (min-width: 1024px) {
   .saved img {
     width: calc(100%/4);
     height: calc(100%/4);
   }
 }
 
 @media screen and (min-width: 769px) and (max-width: 1024px) {
   .saved img {
     width: calc(100%/4);
     height: calc(100%/4);
   }
 }
 
 @media screen and (min-width: 321px) and (max-width: 768px) {
   .saved img {
     width: calc(100%/2);
     height: calc(100%/7);
   }
 }
 
 .footer {
   position: absolute;
   bottom: 0;
   left: 0;
   text-align: center;
   color: black;
   font-size: 12px;
   padding-bottom: 10px;
}

 .footer a {
    text-decoration: none;
    color: black;
    text-align: center;
 } */