html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font: 100% / 1.414 "Roboto", arial, sans-serif;
  position: relative;
  min-height: 100%;
  margin: 0;
  background: #e0e8f3;
}


@media (max-width: 600px) {
  .site-header {
    flex-wrap: wrap;
  }

  .site-nav {
    order: 2;
    background: #333;
    width: 100%;
  }
}

.site-header {
  background: #0D1313;
  color: white;
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
  margin-left: 5px;
}

.site-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.site-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #CDD0D0;
  padding: 20px;
  display: inline-block;
}

.site-nav .active a {
  font-weight: bold;
  color: #62DEBE;
  background: darken(#62DEBE, 40%);
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sign-out-link {
  color: #62DEBE;
  font-size: 0.8rem;
  margin-left: 35px;
  margin-right: 10px;
  text-transform: uppercase;
}

/* ================= */
/* Card columns */
.result-imgs {
  margin-top: 200px;
}

.card-columns .card .card-body {
  display: inline-block;
  height: 100%;
}

#favorites {
  position: absolute;
  top: 4%;
  right: 6%;
  width: 20%;
  background-color: transparent;
  border: none;
  outline: none;
}

.card-img-overlay {
  opacity: 0;
  transition: 0.5s ease;
}

.card-img-overlay:hover {
  opacity: 1;
  background-color: rgba(95, 95, 95, 0.5);
}

@keyframes fa-star-hover {
  from {
    font-size: 3.2em;
  }

  80% {
    font-size: 3em;
  }
}

.fa-star {
  display: block;
  font-size: 3em;
  width: auto;
  height: auto;
  cursor: pointer;
  box-shadow: none;
  border: none;
  outline: none;
  transition: all 0.2s ease;
  color: #cbcdce;
  margin: 0;
}

.fa-star.active {
  color: #dc3232;
}

.fa-star:hover {
  animation: fa-star-hover 0.3s infinite alternate;
}

.fa-star.is_animating {
  animation: fa-star-anime 0.3s;
}

/* =============================================================== */
/* Media queries for card columns */
/* =============================================================== */

/* iPhone 6/7/8 */
@media only screen and (max-width: 414px) {
  .card-columns {
    column-count: 1;
  }

  .card {
    margin-left: 3em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .card-columns {
    column-count: 1;
    margin: auto;
  }

  .card {
    margin-left: 7em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card-columns {
    column-count: 2;
  }

  .card {
    margin-left: 1.5em;
  }
}