html {
   box-sizing: border-box;
   height: 100%;
}

body {
   font: 100% / 1.414 "Roboto", arial, sans-serif;
   position: relative;
   min-height: 100%;
   margin: 0;
   background: #e0e8f3;
}


.header {
   height: 100px;
   text-align: center;
   padding-top: 30px;
   color: black;
}

a.go-back {
   font-size: 18px;
   color: black;
}


/* 
.landmark-contain {
   max-width: 960px;
   margin: 40px auto 0 auto;
}

.saved {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-content: stretch;
   max-width: 980px;
   padding-right: 2.5em;
}

.saved img {
   display: block;
   float: left;
   flex: 0 0 auto;
   background-color: #fff;
}

@media screen and (min-width: 1024px) {
   .saved img {
     width: calc(100%/4);
     height: calc(100%/4);
   }
 }
 
 @media screen and (min-width: 769px) and (max-width: 1024px) {
   .saved img {
     width: calc(100%/4);
     height: calc(100%/4);
   }
 }
 
 @media screen and (min-width: 321px) and (max-width: 768px) {
   .saved img {
     width: calc(100%/2);
     height: calc(100%/7);
   }
 }
 
 .footer {
   position: absolute;
   bottom: 0;
   left: 0;
   text-align: center;
   color: black;
   font-size: 12px;
   padding-bottom: 10px;
}

 .footer a {
    text-decoration: none;
    color: black;
    text-align: center;
 } */